<br>
<h1>Warehouse sock</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Warehouse</th>
      <th scope="col">jPlatta</th>
      <th scope="col">jTelefon</th>
      <th scope="col">Päronklocka</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let warehouse of warehouses">
      <th scope="col">{{warehouse.name}}</th>
      <td>{{warehouse.products.jPlatta.noItems}}</td>
      <td>{{warehouse.products.jTelefon.noItems}}</td>
      <td>{{warehouse.products.Paronklocka.noItems}}</td>
    </tr>
  </tbody>
</table>